<nav>

    <a href="/dashboard">
        <div style="display:flex; align-items: center;">
            <img src="/images/reflectLogo.png" style="height:2.5rem;">
            <h1 style="
            font-family:apotek-extracond, sans-serif; 
            font-weight: 700; 
            font-style: normal;
            color:#C61A9A;
            font-size: 2rem;
            margin-left: 0.3rem;
            ">Reflect AR</h1>
        </div>
    </a>
    <ul style="
    display:flex; 
    width:55rem; 
    justify-content: space-around; 
    align-items: center;
    list-style: none;  
    margin-right: -2rem     
    " class="edit_ul">
    <li><button class="publish_btn">Publish</button></li>
     <li class="edit_nav_btn"><i class="fas fa-h-square"></i>Markers</li>
     <li class="edit_nav_btn" id="gltf_convert_btn"><i class="fas fa-exchange-alt"></i>gltf to glb</li>
     <li class="edit_nav_btn"><i class="fas fa-chalkboard-teacher"></i>How to use</li>
     <li class="edit_nav_btn" id="save_btn"><i class="far fa-save"></i>Save</li>
     <a href="/projects/<%= project._id %>"><li class="edit_nav_btn"><i class="far fa-play-circle"></i>Test</li></a>
     <a href="/dashboard"><li class="edit_nav_btn"><i class="far fa-folder"></i>Projects</li></a>
     <li class="edit_nav_btn"><i class="far fa-user"></i>Profile</li>
    </ul>

    
</nav>