<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Platform | <%= title %></title>
    <link href="/stylesheet/grid.css" rel="stylesheet">
    <link href="/stylesheet/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>