<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Platform | <%= title %></title>
    <link href="/stylesheet/grid.css" rel="stylesheet">
    <link href="/stylesheet/style.css" rel="stylesheet">
</head>