/* fonts: 
font-family: open-sans, sans-serif;
font-weight: 300;
font-style: normal;

apotek extracond light:
font-family: apotek-extracond, sans-serif;
font-weight: 300;
font-style: normal;

apotek extracond bold:
font-family: apotek-extracond, sans-serif;
font-weight: 700;
font-style: normal; */

/* color:
logo: #C61A9A
purple: #EB64C8
blue: #169CE3
textgrey: #959595  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

.delete {
  cursor: pointer;
}

button {
  padding: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

/* --------------------------------------------- HOME PAGE -------------------------------------------------*/
.mainTitle {
  color: white;
  font-family: apotek-extracond, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
  margin-left: 4rem;
  margin-top: 2rem;
}

.home_page {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home_bg.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

.text_container {
  width: 50rem;
  height: 50rem;
  background-image: url(../images/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: -200;
  top: -100;
  padding-top: 19rem;
  padding-left: 7rem;
  z-index: 2;
}

.text_container h1 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eb64c8;
  font-size: 4rem;
  line-height: 3.3rem;
}

.text_container h2 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eb64c8;
  font-size: 2rem;
  line-height: 3.3rem;
}

.text_container p {
  margin-top: 2rem;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #959595;
  width: 90%;
  font-size: 1.2rem;
}

.text_container a button {
  width: 13rem;
  height: 3rem;
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #eb64c8;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
}

/* #blob {
  position: absolute;
  top: -800;
  left: -400;
  z-index: 0;
} */

.decoratingButtons {
  left: 50%;
  margin-top: 3rem;
}

nav {
  width: 100%;
  height: 3rem;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 200;
  position: relative;
}

.nav_btn {
  font-family: apotek-extracond, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #eb64c8;
  font-size: 1.5rem;
}

.nav_btn:hover {
  color: #169ce3;
}

.nav_btn_auth li:hover {
  color: #169ce3;
}

.nav_btn_auth:hover {
  color: #169ce3;
  cursor: pointer;
}

.nav_btn_auth li {
  color: #eb64c8;
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
  border-right: 1px solid #eb64c8;
  border-left: 1px solid #eb64c8;
}

.nav_btn_auth {
  color: #eb64c8;
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

a:hover {
  color: #b91b8a;
}

.error {
  margin-left: 1rem;
  color: red;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* --------------------------------------------- CREATE PAGE -------------------------------------------------*/

form {
  margin-top: 2rem;
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
}

form h2 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #eb64c8;
  font-size: 3rem;
}

form input {
  width: 25rem;
  border: 2px solid #eb64c8;
  outline: none;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

::placeholder {
  color: #959595;
}

form h3 {
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #959595;
}

form a {
  color: #eb64c8;
  font-weight: 600;
}

form button {
  background-color: #eb64c8;
  border: none;
  color: white;
  width: 24rem;
  height: 3.5rem;
  border-radius: 2rem;
}

label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

input {
  padding: 0.7rem;
  font-size: 1.1rem;
}

select {
  padding: 0.7rem;
  font-size: 0.8rem;
}

.submitButton {
  margin-left: 5rem;
}

/* --------------------------------------------- ALL PROJECTS -------------------------------------------------*/

.btns_container {
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 50%;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.project_btns button {
  border: 2px solid #eb64c8;
  font-family: apotek-extracond, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0.5rem 1.5rem;
  color: #eb64c8;
}

.project_btns button:hover {
  color: #169ce3;
}

.btns_container .create_btn {
  color: white;
  background-color: #eb64c8;
  border: none;
  font-family: apotek-extracond, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.btns_container .create_btn:hover {
  background-color: #169ce3;
}

.active {
  background-color: #eb64c8;
  color: white !important;
}

.all_projects {
  margin-top: 1rem;
  margin-left: 5rem;
}

.project_card {
  width: 53%;
  height: 10rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.card_right {
  text-align: right;
  margin-top: 1rem;
}

.card_right .delete {
  font-family: apotek-extracond, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #eb64c8;
}

.card_right .delete:hover {
  color: #169ce3;
}

.card_right .status {
  display: flex;
  width: 4rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.card_right .status h3 {
  font-family: open-sans;
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(49, 196, 0);
}

.card_right .toggle_btn {
  color: #eb64c8;
}

.btns_container_card {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.btns_container_card button {
  border: 2px solid #eb64c8;
  font-family: apotek-extracond, sans-serif;
  font-weight: 300;
  background-color: white;
  color: #eb64c8;
  font-size: 1.2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1.5rem;
  padding: 0rem;
}

.btns_container_card button:hover {
  color: #169ce3;
  border: 2px solid #169ce3;
}

.title {
  color: #eb64c8;
}

.title a:hover {
  color: #169ce3;
}

.last_update {
  font-family: open-sans;
  font-weight: 300;
  color: #959595;
  font-size: 1rem;
}

.modelPath {
  margin-bottom: 2rem;
}

.single {
  color: #eb64c8;
}

/* --------------------------------------------- SINGLE PROJECTS -------------------------------------------------*/

.detailTitle,
.singleDetail {
  color: #b91b8a;
  text-transform: capitalize;
}

.detailTitle {
  margin-bottom: 2rem;
}

.setButtons {
  margin-top: 1rem;
}

/* --------------------------------------------- Edit Page -------------------------------------------------*/
.edit_nav_btn {
  color: #eb64c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eb64c8;
  cursor: pointer;
  width: 7rem;
}

.edit_nav_btn:hover {
  color: #169ce3;
}

.edit_nav_btn i {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.publish_btn {
  font-family: open-sans;
  font-size: 1rem;
  width: 7rem;
  height: 2.5rem;
  margin-right: 1rem;
  border: solid 2px #eb64c8;
  background-color: white;
  color: #eb64c8;
  font-weight: 600;
}

.publish_btn:hover {
  color: white;
  background-color: #eb64c8;
}

/* edit page grid  */
.edit_container {
  width: 82rem;
  height: 40rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.edit_container_left {
  padding: 2rem;
  width: 50rem;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.edit_container_right {
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview {
  width: 30rem;
  height: 19rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.controls {
  width: 30rem;
  height: 19rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.edit_container_left .project_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #959595;
}

.edit_container_left .project_title #title {
  border: none;
  font-family: apotek-extracond;
  font-weight: 600;
  color: #eb64c8;
  font-size: 1.5rem;
  outline: none;
  height: 1.5rem;
  padding: 0;
}

.edit_container_left .project_title h2 {
  font-family: apotek-extracond;
  font-weight: 600;
  color: #eb64c8;
  font-size: 1.5rem;
}

.asset_section {
  width: 46rem;
  height: 19rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #959595;
  padding-bottom: 0.5rem;
}

.asset_section .file_upload {
  width: 70%;
  height: 100%;
}

.asset_section .file_upload .drag_area {
  width: 100%;
  height: 80%;
  border: 2px dashed #eb64c8;
  border-radius: 1rem;
  background-color: #fff4f4;
  margin-top: 1rem;
  text-align: center;
}

.asset_section .file_upload .drag_area i {
  color: #fdd0f2;
  font-size: 5rem;
  margin-top: 3rem;
}

.asset_section .file_upload .drag_area h2 {
  color: #959595;
  font-family: open-sans;
  font-weight: 400;
  font-size: 0.8rem;
}

.asset_section .file_upload .drag_area input {
  border: none;
  margin-bottom: 1rem;
}

.asset_section .file_upload .convert_text {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.asset_section .file_upload .convert_text h2 {
  font-family: open-sans;
  font-weight: 400;
  font-size: 0.8rem;
  color: #959595;
}

.asset_container {
  width: 22rem;
  height: 10rem;
  overflow: scroll;
  margin-left: 2rem;
}

.single_asset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #eb64c8;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
}

.asset_title {
  font-family: apotek-extracond;
  font-weight: 300;
  color: #eb64c8;
  margin-top: 1rem;
  margin-left: 2rem;
}

.single_asset .asset_name {
  font-family: open-sans;
  font-weight: 600;
  font-size: 0.8rem;
  color: #eb64c8;
}

.single_asset {
  color: #eb64c8;
  font-size: 0.8rem;
}

.single_asset i {
  cursor: pointer;
}

.pairing {
  width: 22rem;
  height: 20rem;
}

.pairing_top {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.pairing_top h2 {
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
  color: #eb64c8;
}

.pairing_top i {
  color: #eb64c8;
  font-size: 1.5rem;
  cursor: pointer;
}

.pairing_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.pairing_container i {
  color: #eb64c8;
}

.pairing_asset,
.pairing_marker {
  width: 7rem;
  height: 7rem;
  border: 1px solid #eb64c8;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pairing_asset i,
.pairing_marker i {
  color: #eb64c8;
  font-size: 2.5rem;
}

.pairing_asset h2,
.pairing_marker h2 {
  color: #eb64c8;
  font-family: open-sans;
  font-weight: 600;
  font-size: 0.7rem;
}

.delete_pairing {
  text-align: right;
}

.delete_pairing i {
  color: #eb64c8;
  cursor: pointer;
}

.pairing_section {
  display: flex;
}

.all_pairings {
  margin-left: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  border-left: 1px solid #959595;
  height: 15rem;
  overflow: hidden;
}

.all_top {
  display: flex;
  width: 20rem;
  /* background-color: #169ce3; */
  justify-content: space-between;
  align-items: center;
}

.all_top h2 {
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
  color: #eb64c8;
}

.all_top h3 {
  font-family: open-sans;
  font-weight: 600;
  font-size: 0.8rem;
  color: #959595;
}

.asset_marker_container {
  overflow: scroll;
  height: 100%;
  height: 13rem;
}

.asset_marker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eb64c8;
}

.asset_marker .asset {
  text-align: center;
  width: 10rem;
  height: 5rem;
  color: #eb64c8;
  font-family: open-sans;
  font-weight: 400;
}

.asset_marker .asset i {
  margin-top: 1rem;
  font-size: 2rem;
}

.asset_marker .asset h2 {
  font-size: 0.6rem;
  margin-top: 0.3rem;
}

.asset_marker .marker {
  text-align: center;
  width: 10rem;
  height: 5rem;
  color: #eb64c8;
  font-family: open-sans;
  font-weight: 400;
}

.asset_marker i {
  color: #eb64c8;
}

.asset_marker .marker i {
  margin-top: 1rem;
  font-size: 2rem;
}

.asset_marker .marker h2 {
  font-size: 0.6rem;
  margin-top: 0.3rem;
}

.control_btns_container button {
  width: 8rem;
  height: 3rem;
  font-family: apotek-extracond;
  font-weight: 600;
  font-size: 1.5rem;
  color: #eb64c8;
  background: none;
  border: 1px solid #eb64c8;
  border-bottom: none;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:pink; */
  justify-content: center;
}

.control_btns_container button i {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.control_btns_container button:hover {
  color: #169ce3;
}

.control_panel {
  height: 13rem;
  width: 27rem;
  border: 1px solid #eb64c8;
  border-radius: 0.7rem;
}

/* range slider styles start */
input[type="range"] {
  width: 100%;
  margin: 4.95px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #eb64c8;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 6.1px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -4.95px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #eb64c8;
  -webkit-box-shadow: 0px 0px 5px 1px #eb64c8;
  box-shadow: 0px 0px 5px 1px #eb64c8;
  border-radius: 11px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #eb64c8;
}
input[type="range"]::-moz-range-track {
  background: #eb64c8;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 6.1px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #eb64c8;
  border-radius: 11px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6.85px 0;
  color: transparent;
  width: 100%;
  height: 6.1px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #eb64c8;
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: #eb64c8;
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #eb64c8;
  border-radius: 11px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #eb64c8;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #eb64c8;
}

/* range slider styles end */

.size_slider_container {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.size_slider_container h1 {
  color: #eb64c8;
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
}

.control_nums {
  border: 1px solid #eb64c8;
  width: 3rem;
  height: 1.5rem;
  color: #eb64c8;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  font-family: open-sans;
  font-weight: 300;
}
