* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4dfe3;;
}

.delete {
  cursor: pointer;
}

button{
  padding: 0.5rem;
  font-size: 1.3rem;
}

/* --------------------------------------------- HOME PAGE -------------------------------------------------*/
.mainTitle{
  text-align: center;
  margin-top: 2rem;
}


.decoratingButtons {
  left: 50%;
  margin-top: 3rem;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #b91b8a;

}

/* --------------------------------------------- CREATE PAGE -------------------------------------------------*/

form{
  margin-top: 2rem;
}

label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

input{
  padding: 0.7rem;
  font-size: 1.1rem;
}

select{
  padding: 0.7rem;
  font-size: 0.8rem;
}

.submitButton{
  margin-left: 5rem;
}

/* --------------------------------------------- ALL PROJECTS -------------------------------------------------*/

.projectDetails {
  margin-top: 2rem;
}

.modelPath {
  margin-bottom: 2rem;
}

.single {
  color: #b91b8a;
}