/* fonts: 
font-family: open-sans, sans-serif;
font-weight: 300;
font-style: normal;

apotek extracond light:
font-family: apotek-extracond, sans-serif;
font-weight: 300;
font-style: normal;

apotek extracond bold:
font-family: apotek-extracond, sans-serif;
font-weight: 700;
font-style: normal; */

/* color:
logo: #C61A9A
purple: #EB64C8
blue: #169CE3
textgrey: #959595  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e6e6e6;
}

.delete {
  cursor: pointer;
}

button {
  padding: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

/* --------------------------------------------- HOME PAGE -------------------------------------------------*/
.mainTitle {
  text-align: center;
  margin-top: 2rem;
}

.home_page {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home_bg.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

.text_container {
  width: 50rem;
  height: 50rem;
  background-image: url(../images/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: -200;
  top: -100;
  padding-top: 19rem;
  padding-left: 7rem;
  z-index: 2;
}

.text_container h1 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eb64c8;
  font-size: 4rem;
  line-height: 3.3rem;
}

.text_container h2 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eb64c8;
  font-size: 2rem;
  line-height: 3.3rem;
}

.text_container p {
  margin-top: 2rem;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #959595;
  width: 90%;
  font-size: 1.2rem;
}

.text_container a button {
  width: 13rem;
  height: 3rem;
  font-family: apotek-extracond, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #eb64c8;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
}

/* #blob {
  position: absolute;
  top: -800;
  left: -400;
  z-index: 0;
} */

.decoratingButtons {
  left: 50%;
  margin-top: 3rem;
}

nav {
  width: 100%;
  height: 3rem;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 200;
  position: relative;
}

.nav_btn {
  font-family: apotek-extracond, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #eb64c8;
  font-size: 1.5rem;
}

.nav_btn:hover {
  color: #169ce3;
}

.nav_btn_auth li:hover{
  color:#169ce3;
}

.nav_btn_auth:hover{
  color:#169ce3;
  cursor:pointer;
}

.nav_btn_auth li{
  color:#eb64c8;
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
  border-right: 1px solid #eb64c8;
  border-left: 1px solid #eb64c8;
}

.nav_btn_auth{
  color:#eb64c8;
  font-family: apotek-extracond;
  font-weight: 300;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

a:hover {
  color: #b91b8a;
}

.error {
  margin-left: 1rem;
  color: red;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* --------------------------------------------- CREATE PAGE -------------------------------------------------*/

form {
  margin-top: 2rem;
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
}

form h2 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #eb64c8;
  font-size: 3rem;
}

form input {
  width: 25rem;
  border: 2px solid #eb64c8;
  outline: none;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

::placeholder {
  color: #959595;
}

form h3 {
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #959595;
}

form a {
  color: #eb64c8;
  font-weight: 600;
}

form button {
  background-color: #eb64c8;
  border: none;
  color: white;
  width: 24rem;
  height: 3.5rem;
  border-radius: 2rem;
}

label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

input {
  padding: 0.7rem;
  font-size: 1.1rem;
}

select {
  padding: 0.7rem;
  font-size: 0.8rem;
}

.submitButton {
  margin-left: 5rem;
}

/* --------------------------------------------- ALL PROJECTS -------------------------------------------------*/

.projectDetails {
  margin-top: 2rem;
}

.modelPath {
  margin-bottom: 2rem;
}

.single {
  color: #b91b8a;
  text-transform: capitalize;
}

/* --------------------------------------------- SINGLE PROJECTS -------------------------------------------------*/

.detailTitle,
.singleDetail {
  color: #b91b8a;
  text-transform: capitalize;
}

.detailTitle {
  margin-bottom: 2rem;
}

.setButtons {
  margin-top: 1rem;
}
