<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

 
        <h2>Your accont is not verified. Please Confirm in your email</h2>
       




  

</body>
</html>