<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <h1 class="mainTitle">Create Your Project :</h1>

    <div class="create-blog content offset-5 col-4">
        <form action = '/projects' method="POST" enctype="multipart/form-data">
            <label for="title">Project title:</label><br>
            <input type="text" id="title" name="title" required>
            <br><br>

            <label for="method">Project method:</label><br>
            <select id="method" name="method">
                <option value="image">Image Tracking</option>
                <option value="gps">GPS Tracking</option>
                <option value="marker">Marker Tracking</option>
            </select>
            <br><br>

            <div id="gpsOptions">
                <label for="lat">Lat:</label><br>
                <input type="number" id="lat" name="lat" step="any">
                <br><br>

                <label for="long">Long:</label><br>
                <input type="number" id="long" name="long" step="any">
                <br><br>

                <label for="range">Trigger Range:</label><br>
                <input type="number" id="range" name="range">
                <br><br>
            </div>

            <label for="modelFile">Upload Model</label><br>
            <input type="file" name="modelFile" id="modelFile">
            <br><br>

            <a href="/projects/create/image-des-upload"><h3>Click here to upload image descriptor</h3></a>
            <br><br>        

            <button class="submitButton">Submit</button>
        </form>
    </div>

</body>
</html>

<script>
    console.log("connect");

    $(document).ready(function(){
        let gpsOptions = document.getElementById("gpsOptions");
        let method = document.getElementById("method");
        $("#gpsOptions").hide();
        $("#method").on("change", function(){
            var v = $(this).val();
                if(v=="gps"){
                $("#gpsOptions").show();
                $("#imgDesFile").hide();
                $("#desFileLabel").hide();
            }else if(v=="marker"){
            $("#gpsOptions").hide();
        } else if(v=="image"){
            $("#gpsOptions").hide();
            $("#imgDesFile").show();
            $("#desFileLabel").show()   
        }
    });
});
</script>