<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <h1 class="mainTitle">Create Your Project :</h1>

    <div class="create-blog content offset-5 col-4">
        <form action = '/projects' method="POST" enctype="multipart/form-data">
            <label for="title">Project title:</label><br>
            <input type="text" id="title" name="title" required>
            <br><br>

            <label for="method">Project method:</label><br>
            <select id="method" name="method">
                <option value="image">Image Tracking</option>
                <option value="gps">GPS Tracking</option>
                <option value="marker">Marker Tracking</option>
            </select>
            <br><br>

            <div id="gpsOptions">
                <label for="lat">Lat:</label><br>
                <input type="number" id="lat" name="lat" step="any">
                <br><br>

                <label for="long">Long:</label><br>
                <input type="number" id="long" name="long" step="any">
                <br><br>

                <label for="range">Trigger Range:</label><br>
                <input type="number" id="range" name="range">
                <br><br>
            </div>


            <button class="add_trigger">Add Trigger</button>


            <div class="trigger_list">



            </div>

            <button class="submitButton">Submit</button>
        </form>
    </div>

</body>
</html>

<script>
    console.log("connect");

    $(document).ready(function(){
        let gpsOptions = document.getElementById("gpsOptions");
        let method = document.getElementById("method");
        $("#gpsOptions").hide();
        $("#method").on("change", function(){
            var v = $(this).val();
                if(v=="gps"){
                $("#gpsOptions").show();
                $("#imgDesFile").hide();
                $("#desFileLabel").hide();
                $("#desUploadLink").hide()
            }else if(v=="marker"){
            $("#gpsOptions").hide();
            $("#desUploadLink").hide()
        } else if(v=="image"){
            $("#gpsOptions").hide();
            $("#imgDesFile").show();
            $("#desFileLabel").show()  
            $("#desUploadLink").show() 

        }
    });

    // let deleteArray = []
    // let triggerArray
    

    $(".add_trigger").on("click", function(e){
        e.preventDefault()
        let currentHTML = $('.trigger_list').html()

        $(".trigger_list").html(currentHTML + 
            `<div class="trigger_container">
                <br><br>
            <label for="trigger_name">Trigger Name</label>
            <input type="text" name="trigger_name" class="trigger_name" value="Untitled"><br><br>

            <label for="modelFile">Upload Model</label><br>
            <input type="file" name="modelFile" class="modelFile">
            <br><br>

            <label for="scale_x">Scale x</label>
            <input type="number" name="scale_x" class="scale_x" value = 1><br>
            <label for="scale_y">Scale y</label>
            <input type="number" name="scale_y" class="scale_y" value = 1><br>
            <label for="scale_y">Scale z</label>
            <input type="number" name="scale_z" class="scale_z" value = 1><br><br>

            <label for="position_x">Position x</label>
            <input type="number" name="position_x" class="position_x" value = 0><br>
            <label for="position_y">Position y</label>
            <input type="number" name="position_y" class="position_y" value = 0><br>
            <label for="position_y">Position z</label>
            <input type="number" name="position_z" class="position_z" value = 0><br><br>

            <label for="rotation_x">Rotation x</label>
            <input type="number" name="rotation_x" class="rotation_x" value = 0><br>
            <label for="rotation_y">Rotation y</label>
            <input type="number" name="rotation_y" class="rotation_y" value = 0><br>
            <label for="rotation_y">Rotation z</label>
            <input type="number" name="rotation_z" class="rotation_z" value = 0><br><br>

            <h1 class="delete_trigger" style="cursor:pointer;">DELETE</h1>
            <br><br>
            </div>`


        )

        // deleteArray = document.querySelectorAll(".delete_trigger")
        // triggerArray = document.querySelectorAll(".trigger_container")
        // console.log(triggerArray)
        // console.log(deleteArray)
        // for(let i = 0; i < deleteArray.length;i++){
     
        //     deleteArray[i].onclick = function(){
                
        //     }
        // }
        $(".delete_trigger").click(function(){
            let parentDiv = this.parentElement
            console.log(parentDiv)
            parentDiv.remove()
        })




    })






});
</script>