<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>


    <div class="create-blog content">
        <form action = '/projects' method="POST" enctype="multipart/form-data">
            <label for="title">Project title:</label>
            <input type="text" id="title" name="title" required>
            <label for="method">Project method:</label>
            <select id="method" name="method">
                <option value="image">Image Tracking</option>
                <option value="gps">GPS Tracking</option>
                <option value="marker">Marker Tracking</option>
            </select>
            <!-- <input type="text" id="method" name="method" required> -->
            <!-- <label for="filePath">Model Path:</label>
            <input type="text" id="filePath" name="filePath"required></input> -->
            <label for="modelFile">Upload File</label>
            <input type="file" name="modelFile">
            <button>Submit</button>
        </form>
    </div>

</body>
</html>