<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <!-- <%- include('./partials/nav.ejs') %> -->

    <a href="https://carnaux.github.io/NFT-Marker-Creator/#/" target="_blank">Click here to create image descriptors</a>
    <form>
        <label for="desUpload"></label>
        <input name="desUpload" id="deUpload" type="file" multiple>
    </form>
    <h3>3 files in total fset, fset3, iset</h3>

    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>