<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <div class="home_page">
        <%- include('./partials/nav.ejs') %>
        <div class="home_top">
            <img src="images/augmented.png">
        </div>
        <div class="home_mid">
            <div class="reality_container">
                <img src="images/reality.png">
            </div>
        </div>
        <div class="home_bot">
            <img src="images/hand-phone.png">
        </div>
    
    </div>

   
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>