<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <% console.log(user) %>
    <%- include('./partials/nav.ejs') %>


    <div class="projects content">
        <h1 class="mainTitle">HOME PAGE</h1>
    
    </div>

    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>