<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <!-- <%- include('./partials/nav.ejs') %> -->

    <div class="projects content">
        <h1 class="mainTitle">HOME PAGE</h1>
        <button class="decoratingButtons"><a href="/projects/create"> Create Project </a></button>
    
    
    </div>

    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>