<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <div class="home_page">
        <%- include('./partials/nav.ejs') %>
        <h1 class="mainTitle">HOME PAGE</h1>
    
    </div>

    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>