<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    

    <form class="auth_form">
        <h2>Sign Up</h2>
        <div>
            <label for="email"></label>
            <input name="email" id="email" type="text" placeholder="Email" value="<%= email %>">
            <label for="password"></label>
            <input name="password" id="password" type="password" placeholder="New Password">
            <label for="confirm"></label>
            <input name="confirm" id="confirm" type="password" placeholder="Confirm Password">
        </div>
        <button id="signup_btn">Reset</button> 
        <h3>Try Login? <a href="/login">Log in</a></h3>

    </form>

    <script>
        let form = document.querySelector("form")

        form.onsubmit = async function(e){
            e.preventDefault()

            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            
            try{
                console.log(email,password)
                const res = await fetch('/password_reset/:email',{
                method:"POST",
                body:JSON.stringify({email, password}),
                headers:{'Content-Type':'application/json'}
                })
                const data = await res.json()
                console.log(data)
                if(data.user){
                    //redirect back to home page
                    location.assign('/dashboard')
                }
            }catch(err){
                console.log(err)
            }

        }
    </script>


</body>
</html>