<html>
  <%- include('./partials/head.ejs') %>

    <body style="margin: 0px; overflow: hidden;">
        <div class="container">
          <h1>QR code generator</h1>
          <img src=<%=src%> alt="QR Code Image">
          <p>Scan the QR Code to access data!</p>
          <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
          <br>
    </body>

</html>